/* Resets */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: top;
	position:relative; /* makes z-index "work" */
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Little Hacks */

html{
	height:101%; /* Consistent Scroll Bar -- Unless on Mac. That little bugger. */
	overflow-x:hidden; /* Mac Display Fix - Shows an extra margin on the side. */
	margin:0;
}

body{
	overflow-x:hidden; /* Mac Display Fix - Shows an extra margin on the side. */
	z-index:0; /* Keeping everything straight in my head */
	margin:0;
	color:#0a1c30;
	background-color:#27ae60; /* So that incase there isn't enough content, the footer doesn't look TOO off */
}

/* Highlight Colors */

::selection {
	background: #3498db;
}

::-moz-selection {
	background: #3498db;
}

/* Default Link Properties - Transitions and Design */

a{
	text-decoration:none;
	font-weight:bold;
	transition:all ease-in-out .4s;
	-webkit-transition:all ease-in-out .4s;
	-ms-transition:all ease-in-out .4s;
	-moz-transition:all ease-in-out .4s;
	-o-transition:all ease-in-out .4s;
}

a:hover{
	text-decoration:none;
}

a:visited{
	text-decoration:none;
}

/* Header */

header{
	margin:auto; /* Centers */
	width:100%; /* Spans the whole page */
	height:100%; /* Sets height. % and em prefered for it to be flexible for Tablet up to PC size */
}

/* Navigation */

nav{
	width:100%; /* Spans the whole page */
	height:3em; /* Sets height. % and em prefered for it to be flexible for Tablet up to PC size */
	z-index:3; /* Above the second, please! */
	margin:0;
	background-color:#3498db;
	color:#fff;
	-webkit-transform-style:preserve-3d; /* Prevents bluring from Vertial Aligning */
	-moz-transform-style:preserve-3d;
	transform-style:preserve-3d;
}

#navb{
	opacity:.8; /* Woohoo, transparency. Design aspect */
	height:3em;
	width:100%;
	position:fixed; /* Keep it consistently scrolling */
	z-index:1; /* Have it below nav so that it has an effect of it popping out from under the header */
	margin:0;
	background-color:#2980b9;
	box-shadow:0 .1em .2em .2em #2c3e50;
	color:#fff;
	-webkit-transform-style:preserve-3d; /* Prevents bluring from Vertial Aligning */
	-moz-transform-style:preserve-3d;
	transform-style:preserve-3d;
}

nav, #navb{
	text-shadow:.1em .1em .1em #000;
}

.linkTop{
	display:block;
	max-width:20%;
	left:75%;
	top: -50%;					/* Vertical Aligning */
}

.linkTop:link{
	color:#ecf0f1;
}

.linkTop:visited{
	color:#ecf0f1;
}

.linkTop:hover{
	color:#9b59b6;
}

.row{
	margin-left:3%;
	height:1.8em;
	width:100%;
	padding:.1em;
	position: relative;
	font-size:1.2em;
	font-weight:bold;
	top: 65%;					/* Vertical Aligning */
	transform:translateY(-50%); /* Translates the other half */
	-webkit-transform:translateY(-50%);
	-moz-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	-o-transform:translateY(-50%);
}

/* Section */
section{
	width:100%;
	height:100%;
	background-color:#95a5a6;
	padding-bottom:1em;
}

/* Content ColA */

#cola{
	width:60%;
	background-color:;
	display:inline-block;
	margin-left:5%;
	margin-right:1%;
	
}

article, aside{
	padding:1em;
	margin-top:1em;
	background-color:#ecf0f1;
	line-height:1.2em;
	box-shadow:.3em .3em .5em .2em #2c3e50;
}

article a:link{
	color:#3498db;
}

article a:visited{
	color:#3498db;
}

article a:hover{
	color:#34495e;
}

.title p{
	font-size:2em;
	text-align:center;
	vertical-align:middle;
}

/* Content ColB */
#colb{
	width:20%;
	background-color:;
	display:inline-block;
	margin-left: 4%;
}

/* Footer */
footer{
	width:100%;
	height:100%;
	background-color:#27ae60;
	color:#fff;
	line-height:1.2em;
	bottom:0;
}

footer p{
	margin:1em;
	padding-left:1em;
}

footer a:link{
	color:#f1c40f;
}

footer a:visited{
	color:#f1c40f;
}

footer a:hover{
	color:#fff;
}

.col{
	display:inline-block;
	width:32%;
	margin-left:1%;
}

.col p{
	border-left:.3em solid #fff;
}